@import "../../style/mixins/text";
@import "../../style/mixins/image";
@import "../../style/index";
@import "../../style/common/buttons";

.crowdsale {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  margin-top: 100px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;


  @include b('mobile') {
    margin-top:20px;
  }

  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    h2 {
      font-family: TT Norms, sans-serif;
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
      @include b('mobile') {
        font-size: 30px;
      }
    }
  }

  &__cards-container {
    overflow-x: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 93px;

    @include b('tablet') {
      margin-top: 50px;
    }

    @include b('mobile') {
      margin-top: 20px;
    }
  }

  &__card-container {
    flex: 1 1 auto;
    position: relative;
    margin: 20px;
    margin-top: 50px;
    width: 340px;
    min-width: 340px;
    height: 212px;
    background: linear-gradient(30.15deg, #000000 14.13%, #272525 79.31%);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include b('tablet') {
      width: 350px;
      min-width: 350px;
      height: 138px;
      margin: 0;
      margin-top: 50px;
    }

    @include b('mobile') {
      width: 350px;
      min-width: 350px;
      height: 138px;
      margin: 0;
      margin-top: 50px;
    }

    p {
      font-family: TT Norms, sans-serif;
      font-weight: 800;
      font-style: normal;
      width: 250px;
      height: 40px;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;

      @include b('tablet') {
        order: 2;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        width: 200px;
        font-feature-settings: 'liga' off;
      }
      
      @include b('mobile') {
        order: 2;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        width: 200px;
        font-feature-settings: 'liga' off;
      }
      
    }
  }

  &__icon-container {
    width: 98px;
    height: 98px;
    position: absolute;
    left: 38%;
    top: -49px;
    background: #000000;
    border: 3px solid rgb(46,45,51);
    border-radius: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;

    @include b('tablet') {
      position: relative;
      left: 0; 
      top: 0;
      order: 1;
    }

    @include b('mobile') {
      position: relative;
      left: 0; 
      top: 0;
      order: 1;
    }
  }

  
}
